.results-content .sec-banner .des {
  width: 7.733333rem;
}
.results-content .section-block {
  position: relative;
  height: 6.693333rem;
}
.results-content .section-block .slide-cont {
  padding: 0.733333rem 1.066667rem 2.4rem;
  text-align: center;
}
.results-content .section-block .slide-cont img {
  display: block;
  margin: 0 auto 0.693333rem;
  width: 1.253333rem;
  height: 1.306667rem;
}
.results-content .section-block .slide-cont p {
  font-size: 0.373333rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 0.746667rem;
}
.results-content .section-block .swiper-pagination {
  bottom: 0.8rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.results-content .section-block .swiper-pagination span {
  width: 0.133333rem;
  height: 0.133333rem;
  background: #CCCCCC;
  border: 0.026667rem solid transparent;
  opacity: 1;
  transition: all 0.3s;
  vertical-align: middle;
  margin: 0 0.133333rem;
}
.results-content .section-block .swiper-pagination .swiper-pagination-bullet-active {
  width: 0.213333rem;
  height: 0.213333rem;
  background: #ffffff;
  border: 0.026667rem solid #00C6C9;
}
.results-content .results-list ul li.cur .first-list .first-list-cont {
  border: none;
}
.results-content .results-list ul li.cur .first-list .first-list-cont img {
  transform: rotate(90deg);
}
.results-content .results-list ul li:last-child .first-list .first-list-cont {
  border: none;
}
.results-content .results-list ul li .first-list {
  box-sizing: content-box;
  height: 1.266667rem;
  background: linear-gradient(124deg, #009fea 0%, #00e1b3 100%);
  padding-bottom: 0.013333rem;
}
.results-content .results-list ul li .first-list .first-list-cont {
  margin: 0 0.4rem;
  height: 1.266667rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.013333rem solid #FFFFFF;
}
.results-content .results-list ul li .first-list .first-list-cont .title {
  font-size: 0.4rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.4rem;
}
.results-content .results-list ul li .first-list .first-list-cont img {
  transition: all 0.3s;
  width: 0.413333rem;
  height: 0.413333rem;
}
.results-content .results-list ul li .first-list.active .first-list-cont {
  border: none;
}
.results-content .results-list ul li .first-list.active .first-list-cont img {
  transform: rotate(90deg);
}
.results-content .results-list ul li .sec-list {
  display: none;
}
.results-content .results-list ul li .sec-list .section1 {
  height: 6.413333rem;
  padding: 1.066667rem 0.4rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.results-content .results-list ul li .sec-list .section1 .title {
  margin-bottom: 0.426667rem;
  font-size: 0.533333rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #fff;
  line-height: 0.533333rem;
}
.results-content .results-list ul li .sec-list .section1 .des {
  font-size: 0.373333rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #fff;
  line-height: 0.64rem;
}
.results-content .results-list ul li .sec-list .section1 span {
  display: block;
  margin-top: 0.266667rem;
}
.results-content .results-list ul li .sec-list .section2 {
  max-height: 32.493333rem;
  padding-bottom: 1.013333rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  color: #fff;
  background: linear-gradient(124deg, #009fea 0%, #00e1b3 100%);
}
.results-content .results-list ul li .sec-list .section2 .title {
  padding-top: 1.066667rem;
  font-size: 0.533333rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #fff;
  line-height: 0.533333rem;
}
.results-content .results-list ul li .sec-list .section2 .des {
  margin: 0.32rem 0 0.933333rem;
  font-size: 0.373333rem;
  line-height: 0.746667rem;
}
.results-content .results-list ul li .sec-list .section2 .info {
  margin: 0.546667rem 0 0.76rem;
  font-size: 0.373333rem;
}
.results-content .results-list ul li .sec-list .section2 .info p {
  margin-top: 0.266667rem;
  line-height: 0.64rem;
}
.results-content .results-list ul li .sec-list .section2 .section2-swiper {
  height: 6.933333rem;
  position: relative;
}
.results-content .results-list ul li .sec-list .section2 .section2-swiper .slide-cont {
  padding: 0.733333rem 1.266667rem;
  text-align: center;
  color: #fff;
}
.results-content .results-list ul li .sec-list .section2 .section2-swiper .slide-cont img {
  display: block;
  margin: 0 auto 0.586667rem;
  width: 1.6rem;
  height: 1.6rem;
}
.results-content .results-list ul li .sec-list .section2 .section2-swiper .slide-cont h3 {
  margin-bottom: 0.64rem;
  font-size: 0.48rem;
  font-weight: 600;
  line-height: 0.48rem;
}
.results-content .results-list ul li .sec-list .section2 .section2-swiper .slide-cont p {
  font-size: 0.373333rem;
  line-height: 0.746667rem;
}
.results-content .results-list ul li .sec-list .section2 .headings {
  text-align: center;
  margin: 1rem 0 0.746667rem;
  font-size: 0.4rem;
  font-weight: 600;
  line-height: 0.4rem;
}
.results-content .results-list ul li .sec-list .section2 .img {
  padding: 0 0.266667rem;
}
.results-content .results-list ul li .sec-list .section2 .img img {
  width: 100%;
  display: block;
}
.results-content .results-list ul li .sec-list .swiper-pagination {
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.results-content .results-list ul li .sec-list .swiper-pagination span {
  width: 0.266667rem;
  height: 0.266667rem;
  background: transparent;
  border: 0.013333rem solid #fff;
  opacity: 1;
  transition: all 0.3s;
  vertical-align: middle;
  margin: 0 0.133333rem;
}
.results-content .results-list ul li .sec-list .swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}
.results-content .results-list ul li .sec-list .section3 {
  background: #0A1544;
}
.results-content .results-list ul li .sec-list .security {
  width: 100%;
  height: 10.466667rem;
  background-image: url(../images/results/bg-04.png);
}
.results-content .results-list ul li .sec-list .security .info {
  font-size: 0.373333rem;
}
.results-content .results-list ul li .sec-list .security .info p {
  line-height: 0.64rem;
  color: #fff;
}
.results-content .results-list ul li .sec-list .security .info p ~ p {
  margin-top: 0.24rem;
}
.results-content .results-list ul li .sec-list .li3-swiper {
  position: relative;
  height: 7.786667rem;
  background-image: url(../images/results/bg-05.png);
}
.results-content .results-list ul li .sec-list .li3-swiper .slide-cont {
  padding: 1.04rem 0.4rem 2.4rem;
  text-align: center;
  color: #fff;
}
.results-content .results-list ul li .sec-list .li3-swiper .slide-cont img {
  display: block;
  margin: 0 auto 0.613333rem;
  width: 1.333333rem;
  height: 1.333333rem;
}
.results-content .results-list ul li .sec-list .li3-swiper .slide-cont h3 {
  margin-bottom: 0.426667rem;
  font-size: 0.48rem;
  font-weight: 600;
  line-height: 0.48rem;
}
.results-content .results-list ul li .sec-list .li3-swiper .slide-cont p {
  font-size: 0.373333rem;
  line-height: 0.746667rem;
}
.results-content .results-list ul li .sec-list .li3-swiper .swiper-pagination {
  width: 100%;
  bottom: 0.8rem;
}
.results-content .results-list ul li .sec-list .pack-swiper {
  height: 10.186667rem;
  background-image: url(../images/results/bg-06.png);
}
.results-content .results-list ul li .sec-list .pack-swiper .slide-cont {
  padding: 1.066667rem 0.4rem 0.8rem;
  text-align: left;
}
.results-content .results-list ul li .sec-list .pack-swiper .slide-cont p ~ p {
  margin-top: 0.24rem;
}
.results-content .results-list ul li .sec-list .test-swiper {
  height: 10.106667rem;
  background-image: url(../images/results/bg-09.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.results-content .results-list ul li .sec-list .test-swiper .slide-cont {
  text-align: left;
}
.results-content .results-list ul li .sec-list .test-swiper .slide-cont .img-info {
  margin-top: 1.066667rem;
  text-align: center;
}
.results-content .results-list ul li .sec-list .test-swiper .slide-cont .img-info img {
  display: block;
  margin: 0 auto 0.613333rem;
  width: 1.333333rem;
  height: 1.333333rem;
}
.results-content .results-list ul li .sec-list .test-swiper .slide-cont .img-info p {
  font-size: 0.48rem;
  font-weight: 600;
  line-height: 0.48rem;
  font-family: PingFangSC-Semibold, PingFang SC;
}
.results-content .results-list ul li .sec-list .advanced {
  height: 14.053333rem;
  background-image: url(../images/results/bg-07.png);
}
.results-content .results-list ul li .sec-list .li4-swiper {
  height: 8.493333rem;
  background-image: url(../images/results/bg-08.png);
}
.results-content .results-list ul li .sec-list .bms-cont {
  padding: 1.066667rem 0.4rem;
  background: linear-gradient(124deg, #009fea 0%, #00e1b3 100%);
}
.results-content .results-list ul li .sec-list .bms-cont .bms-title {
  margin-bottom: 0.106667rem;
  font-size: 0.48rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 0.48rem;
}
.results-content .results-list ul li .sec-list .bms-cont ul li {
  padding: 0.533333rem 0 0.426667rem;
  border-bottom: 0.013333rem solid #FFFFFF;
}
.results-content .results-list ul li .sec-list .bms-cont ul li .tit {
  margin-bottom: 0.373333rem;
  font-size: 0.426667rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 0.426667rem;
}
.results-content .results-list ul li .sec-list .bms-cont ul li .li-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results-content .results-list ul li .sec-list .bms-cont ul li .li-cont .txt {
  width: 5.333333rem;
  font-size: 0.32rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.64rem;
}
.results-content .results-list ul li .sec-list .bms-cont ul li .li-cont img {
  width: 1.28rem;
  height: 1.28rem;
}
.results-content .results-list ul li .sec-list .bms-cont ul li .li-cont .wh-100 {
  width: 1.333333rem;
  height: 1.333333rem;
}
.results-content .results-list ul li .sec-list .bms-cont ul li .li-cont .wh-91-83 {
  width: 1.213333rem;
  height: 1.106667rem;
}
